<nav class="navbar navbar-light bg-danger">
    <form class="form-inline">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text ms-3" id="basic-addon1"><i
                        class="fa-sharp fa-solid fa-user-tie fa-2x"></i></span>
            </div>
            <input (keyup)="search($event)" type="text" class="form-control ms-1" id="search" placeholder="Search here"
                aria-label="Username" aria-describedby="basic-addon1">
            <i class="fa-solid fa-magnifying-glass"></i>

        </div>
    </form>
</nav>